{% extends "base.html" %}
{% block content %}

<div class="grid">
  <section class="left">
    <h2>à la une</h2>
    <ul class="prologues">
      {% for p in prologues %}
        <li>
          <a href="{{ url_for('prologue', prologue_id=p['id']) }}">./ {{ p['title'] }}</a>
          {% if p['category'] %}
            <span class="tag">{{ p['category'] }}</span>
          {% endif %}
          {% if p['intro'] %}
            <div class="intro">{{ p['intro'] }}</div>
          {% endif %}
        </li>
      {% else %}
        <li>aucun prologue pour le moment</li>
      {% endfor %}
    </ul>
  </section>

</div>

{% endblock %}
